<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/headerAdmin.ejs') %>
    <sectionc class="m-5">
        <div class="row">
            <div class="col-md-4">
                <div class="p-5">
                    
                        <div class="card mb-5 cardStyle">
                            <div class="card-body cardBody">
                                <p>"Kitaplar, insanların birbirleriyle konuşarak değil, düşünceleriyle ve kalpleriyle buluştuğu köprüdür. İyi bir kitap, sadece bilgi vermez; ruhu besler ve zihinleri aydınlatır."
                                    <br>— Charles W. Eliot</p>
                            </div>
                        </div>
                        <div class="card mb-5 cardStyle">
                            <div class="card-body cardBody">
                                <p>"Kitaplar, bizi en karanlık anlarımızda aydınlatan ve en yalnız hissettiğimizde bize arkadaşlık eden sadık dostlardır. Onlar sayesinde dünyaları keşfeder, farklı hayatları yaşar ve sonsuz bilgelik denizlerinde yüzeriz."
<br>— William Styron</p>
                            </div>
                        </div>

                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card m-5 cardStyle">
                    <div class="cardTitle">
                        <div class="card-title ml-3 mr-3 mt-3">
                            <h5 style="color:white;">Duyurular</h5>
                        </div>
                    </div>
                    <div class="card-body cardBody">
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        <hr>
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        <hr>
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        <hr>
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        
                    </div>
                    <div class="card-footer cardFooter" style="display: flex; justify-content: center;">
                        
                          <a href="/admin/topic-list"><button type="button" class="btn btn-outline-light">İncele</button></a>  
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card m-5 cardStyle">
                    <div class="cardTitle">
                        <div class="card-title ml-3 mr-3 mt-3" >
                            <h4 style="color:white">Konular</h4>
                        </div>
                    </div>
                    <div class="card-body cardBody" >
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        <hr>
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        <hr>
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                        <hr>
                        <p>bcdncknaknkjnknknkjncdjsknckjdnkcjnsdknckdsncdnsjncdkjskcndkjsnckdddddddddddddk</p>
                    </div>
                    <div class="card-footer cardFooter" style="display: flex; justify-content: center;">
                        
                        <a href="/admin/anc-list"><button type="button" class="btn btn-outline-light">İncele</button></a>
                    
                </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/script.ejs') %>
</body>
</html>