<!-- footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <h3 class="useful_text">Hakkımızda</h3>
        <p class="footer_text">
          Book Room, kitap tutkunlarının bir araya geldiği, keyifli bir
          çevrimiçi platformdur. Amacımız, okuma tutkunlarını bir araya
          getirerek kitaplar hakkında fikir alışverişi yapmalarını ve yeni okuma
          deneyimleri keşfetmelerini sağlamaktır.
        </p>
      </div>
      <div class="col-lg-4 col-sm-6" style="text-align: center">
        <div class="footer_menu">
          <ul>
            <li><a href="../../sitemap.xml">Site Haritası</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <h1 class="useful_text">İletişim</h1>
        <div class="location_text">
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-map-marker" aria-hidden="true"></i
                ><span class="padding_left_10">Address : Loram Ipusm</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-phone" aria-hidden="true"></i
                ><span class="padding_left_10">Call : +01 1234567890</span>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope" aria-hidden="true"></i
                ><span class="padding_left_10">Email : demo@gmail.com</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
  <div class="container">
    <p class="copyright_text">
      2020 All Rights Reserved. Design by
      <a href="https://html.design">Free html Templates</a>
    </p>
  </div>
</div>
<!-- copyright section end -->
<script>
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>
