<!--header section start -->
<div class="header_section">
    <div class="container-fluid">
       <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo row"><a href="index.html" class="col-4"><img src="/static/assets/images/book.png" height="50"></a><h1 class="col-8" style="color:#f76d37;">Book Room<h2/></div>

          <div class="collapse navbar-collapse" id="navbarNav">
             <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                   <a class="nav-link" href="/user/books">Kitaplar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Duyurular</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/user/gallery">Galeri</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/auth/signout">Çıkış Yap</a>
                 </li>
             </ul>
          </div>
       </nav>
    </div>
 </div>