<!-- testimonial section start -->
<div class="client_section layout_padding">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="testimonial_section_2">
                 <h4 class="client_name_text">Orhan Pamuk<span class="quick_icon"></h4>
                 <p class="customer_text">"Kitaplar, yaşadığımız hayatın içine yaşamış diğer insanların deneyimlerini, duygularını ve düşüncelerini aktarır. Onları okumak, kendi hayatımızın sınırlarını genişletir, bakış açımızı zenginleştirir ve bizi daha anlayışlı bir insan yapar. Kitaplar, bize başka zamanlarda ve mekânlarda yaşamanın tadını tattırır, farklı kültürleri ve insanları keşfetmemizi sağlar. En önemlisi, kitaplar bizi düşünmeye ve sorgulamaya iter, bilgi ve bilgelikle donatır, bizi daha iyi bir geleceğe hazırlar."</p>
              </div>
           </div>
        </div>
        <div class="m-5"></div>
     </div>
 </div>